$fuente_principal: 'Raleway',
sans-serif;

$principal: #33c3f0;
$secundario: #741d51;
$terciario: #e44e52;
$gris: #f2f2f2;
$blanco: #ffffff;
$negro: #000000;

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;